# My Files

_*\.ipynb
src/ipynb/notready
esp_lights/.pio
esp_lights/.vscode/.browse.c_cpp.db*
esp_lights/.vscode/c_cpp_properties.json
esp_lights/.vscode/launch.json
esp_lights/.vscode/ipch
esp_lights/lib/

# Node build artifacts
.node_modules/
node_modules
dist
package-lock.json

# Local development
.venv/
*.env
*.dev
.env
.prettierrc 

# Docker
Dockerfile
docker-compose.yml