/*

input#toggle_sitemap
#sitemap {
  label.nav-label[for="toggle_sitemap"] {} 
  hr
  input#toggle_toc.toc_toggle
  label.toc-label[for="toggle_toc"] {}
  label.toc-label-back[for="toggle_toc"] {}
  div.toc-content{
    a
  }
  div.sitemap-content {
    
} 

*/
/* The Container */
body:has(#sitemap:focus-within) {
  /* Prevent drag-refresh */
  overscroll-behavior-y: contain;
}
#sitemap {
  position: fixed;
  min-width: 8em;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  border-radius: 0.7rem;
  padding: 1rem;
  padding-top: 0px;
  overflow-x: hidden;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(var(--foreground), 0.6);
  border-radius: 12px;
  box-shadow: 3px 2px 5px rgb(var(--background)),
    -3px -2px 20px rgb(var(--near-white)),
    inset 0px 0 10px rgb(var(--near-white));

  a{ 
    text-decoration:none;
  }
  h3{
    margin: .5rem 0px;
  }
} 

/* Effects for the Always-Present Label */
#toggle_sitemap {
  visibility: hidden;
}
#toggle_sitemap:not(:checked) ~ #sitemap {
  animation: collapse 1s forwards, glow 6s linear infinite;
}
#toggle_sitemap:checked ~ #sitemap {
  animation: expand 1s forwards, glow 6s linear infinite;
}
@keyframes glow {
  50% {
    box-shadow: 3px 2px 20px rgb(var(--near-white)),
      -3px -2px 20px rgb(var(--background)),
      inset 0px 0 10px rgb(var(--background));
  }
}
@keyframes collapse {
  from {
    max-height: 75svh;
  }
  to {
    max-height: 3em;
  }
}
@keyframes expand {
  to {
    max-height: 75svh;
  }
  from {
    max-height: 3em;
  }
} 
 

.nav-label {
  line-height: 3em;
  width: -webkit-fill-available;
  display: flex;
  cursor: grab;
  color: rgb(var(--near-black));
  justify-content: space-between;
}
.nav-label:hover {
  text-shadow: 1px 1px 45px rgb(var(--near-black));
}

#toggle_sitemap:not(:checked) ~ .nav-label > span {
  animation: dismiss 1s forwards;
}
#toggle_sitemap:checked ~ .nav-label > span {
  animation: reveal 3000ms forwards;
}
.nav-label > span:nth-child(2) {
  --rotate: 0deg;
}
.nav-label > span:nth-child(3) {
  --rotate: 45deg;
}
@keyframes reveal {
  from {
    transform: rotate(var(--rotate));
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes dismiss {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(var(--rotate));
  }
}

/* Table of Contents */
/* Sitemap Content */

.toc-label-back, .toc-label{
  display: block; 
  text-align: center;
  color: rgb(var(--near-black));  
  cursor: pointer;
} 
#toggle_toc:not(:checked) ~ .toc-label,
#toggle_toc:checked ~ .toc-label-back {
  display: none;
}

#toggle_toc{
  display: block;
}


#toc-content, #sitemap-content {
  display: grid;
  overflow-x: hidden;
  max-height: calc(75vh - 6em);
}

#toggle_toc:checked ~ #toc-content,
#toggle_toc:not(:checked) ~ #sitemap-content { 
  animation: hide 1s forwards;
}

#toggle_toc:not(:checked) ~ #toc-content,
#toggle_toc:checked ~ #sitemap-content { 
  animation: show 1s forwards;
} 
@keyframes hide {
  from {
    max-height: inherit;
  }
  to {
    overflow: hidden;
    max-height: 0em;
  }
}
@keyframes show {
  to {
    max-height: inherit;
  }
  from {
    overflow: hidden;
    max-height: 0em;
  }
} 


/* Put on the active Nav Link  */

#currentPage:hover {
  color: rgb(var(--near-black));
}
#currentPage + div > a:hover {
  text-decoration: line-through;
}
#currentPage + div {
  display: block;
  font-size: 1em;
  line-height: 1em;
}
#currentPage:hover {
  animation: gradient 4s linear alternate infinite,
    shake 1s linear alternate infinite;
}
#currentPage {
  background-size: 100% 400%;
  border-radius: 5px;
  background-image: var(--radial1);
  animation: gradient 4s linear alternate infinite;
}

/* triggers sitemap link w observer and on hover */
@keyframes shake {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  50% {
    transform: translate(4px, 0);
    -webkit-transform: translate(4px, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
}
