<!-- this checkbox holds state of whether modal is visible or not -->
<input type="checkbox" id="toggle_sitemap" aria-label="sitemap" />
<div id="sitemap">
  <label tabindex="0" for="toggle_sitemap"
    ><span>Hide</span> <span>Show </span>Sitemap</label
  >
</div>

<div id="page_transition"><p>Don't Look! I'm changing!</p></div>

<div id="toast_container"><p>URL Copied</p></div>

<div id="header">
  <div id="header_bg_wrapper"><div id="header_bg"></div></div>
  <h1>
    <a href="./../index.html">Charles Karpati</a>
    <span id="head_separator"> | </span> <a href="#title" id="title"></a>
  </h1>
  <p id="summary"></p>
</div>
<!-- Dynamically Toggle Visibility of these in refresh script next to sitemap -->
<div class="controls_container">
  <div id="breadcrumbs"></div>
  <div>
    <label for="lightmode" id="light"
      ><input type="checkbox" id="lightmode" aria-label="lightmode"
    /></label>
    <label for="expandmode" id="expand"
      ><input type="checkbox" id="expandmode" aria-label="expandmode" 
    /></label>
    <p id="audio" title="audio.mp3">
      <span>
        <audio
          controls
          controlsList="nodownload noplaybackrate"
          preload="none"
          loop
          src="./audio/title.mp3"
        ></audio>
      </span>
      Audio Version
    </p>
  </div>
</div>
<div id='toc'></div>
<div id="content"></div>
<div id="footer">
  <p id="thanks">
    Thank's for visiting! - <a href="./../legal.html">Terms of use</a>
  </p>
  <div id="footer_bg_wrapper"><div id="footer_bg"></div></div>
</div>
<script>
  function loadLazy() {
    w.loadOnce || (
      ( (document.head || d).appendChild(document.createElement("script")).src = origin + "/templates/article_lazy.js" )
      && (w.loadOnce=true)
    );
  }

  [
    [["scroll", "mousedown", "touchstart"], w, loadLazy, { once: true }],
  ].forEach((evt) =>
    evt[0].forEach((type) =>
      evt[1].addEventListener(type, evt[2], evt[3] || { passive: false })
    )
  );

  // Intersection Observer for TOC line-through and Scroll-shaking
  w.activeHeader = null;
  w.observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => { 
      let e = entry.target;
      let txt = "0.5s ease-in-out 0s 2 normal none running wiggle";
      let pos = e.getBoundingClientRect().top;
      let el =
        (e.parentNode?.nodeName == "SUMMARY" && e.parentNode.style) || e.style;
      el.animation = txt;
      if (!entry.isIntersecting) return (el.animation = "");
      if (pos < 300 || pos > 300) { 
        w.activeHeader && (
          (w.activeHeader.style.textDecoration = "none"),
          (w.activeHeader.style.animation = '')
        ); // unset previous active TOC header
        let tocLink = document.querySelector(`#toc-content a[href="#${e.id}"]`);
        tocLink &&
          ((tocLink.style.animation = txt),
          (tocLink.style.textDecoration = "line-through"));
        w.activeHeader = tocLink;
      }
    });
  });
  (w.loadObserver = (t) => {
    document.querySelectorAll("h2,h3,h4").forEach((el) => observer.observe(el));
  })();
</script>