/* transparent text w animated lin gradient bg */
h1>a::selection { color: rgb(var(--near-black)); }
h1>a{  
  background: linear-gradient(90deg, 
    rgb(var(--near-black)), 
    rgba(var(--near-black), .4), 
    rgb(var(--near-black)), 
    rgba(var(--near-black), .4)
  );
  background-size: 300% 100%; 
  background-clip: text; 
  color: transparent;
  animation: gradient 5s ease infinite; 
}
@keyframes gradient {
  0% {		background-position: 0% 0%;	} 
  50% {	  background-position: 100% 100%;	} 
  100% {	background-position: 0% 0%;	}  
}


/*Animated in template_article_lazy.css*/
#gradient_bg::before {
  z-index: -6;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(180deg, var(--bggradient1), var(--bggradient2));
}



#header{
  /* center and size to header_nav*/
  width: fit-content;
  margin: 60px auto 30px auto;
}
#header_nav{
  padding: 12px;
  text-align: center;
  z-index: 9;
}
#header_bg_wrapper{
  position: absolute;
  top:0px;
  width:100%;
  height:100%;   
  filter: var(--filterdropshadowover); 
}
#header_bg{  
  border-radius: 50px;
  width:100%;
  height:100%;  
  background: var(--bggradientheader);
  clip-path: polygon(33% 38%, 0 43%, 0 0, 100% 0, 100% 43%, 66% 38%, 66% 46%, 100% 60%, 100% 100%, 0 100%, 0 60%, 33% 46%);
  animation:spin-header 1s linear alternate infinite;
  transition-duration: 2s;
} 
#header:hover > #header_bg{
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
} 
@keyframes spin-header{ 
  from{transform:rotate(-4deg);} 
    to{transform:rotate(4deg);} 
}
@keyframes wiggle { /*used by intersection observer in main.js*/
  0% {transform: translate(0, 0);}
  50% {transform: translate(5px, 0);}
  100% {transform: translate(0, 0);}
}

#svg_bg{position: fixed;z-index:-8;}
#pageTransitioneer {position: fixed;z-index: 100;opacity: 0;}

.controls-container{
  display:flex;
  width: min(100vw, 800px);
  margin: 0px auto 30px auto;
  padding-right:25px;
  justify-content:flex-end;
}


#footer{
  height: 200px;
  width: min(100vw, 800px);
  margin: 30px auto 0px auto;
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
} 
#thanks{color: rgb(var(--near-black)); font-size:1.25em; padding:10px; text-align:center}
#thanks a{font-size:0.75em;}
#footer_bg_wrapper{
  position: absolute;
  top: 0px;
  z-index: -1;
  width:100%; height:100%;   
  filter: var(--filterdropshadowunder); 
}
#footer_bg{
  /* This is the animation */
  width:100%; height:100%;
  background: var(--bggradientfooter);
} 

.broider {
  border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAatJREFUeF7t3EuOwjAABFG4XY7M7WAdI9FquSKZuNjaNJ7nJp8R8Hy0j+N4n57yej3biDvP7zEE/dkHQeG3i6CCwgJwnA0VFBaA42zo5aDpsmh2HP4DVov7bugsWHr+agLwegQVFBaA4/JJaXwLpwVsfm8vaCpIOS5oCZamC5qEyvEMOgZuflmUfAVNQuW4oCVYmi5oEirHe9DyBXabLii844IKCgvAcX1D23v7ccE3v9cX1IbCAnCcDV0O9ObHxNZ7vqGCnswFbSsY5gsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI6zoYLCAnCcDRUUFoDjbKigsAAcZ0MFhQXgOBsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI6zoZeDzn7+c1zgZh/VyV/vnt1BQYdfDhO0ErChFVee3J+UcubWMwSFt19QQWEBOC6flNrLns2/Ty+oDYUF4Dgbejno+ALpmJjG4QWvHpcvmxJYGl9dAF6foILCAnBcbmh7TIUX+G9xgsI7JqigsAAclxuaLovSOLzg1eMEhXdIUEFhATjOf44ICgvAcTZUUFgAjvsAzQksZB+8F2AAAAAASUVORK5CYII=") 28 /  28px / 0 round;
  border-width:  28px 16px;
  border-style:  solid;
  max-width: var(--max-width);
  margin: auto;
}
.broider img{
  width: fill-available;
}

.broider>*{padding: 26px;} 
@media only screen and (max-width: 769px){ 
  .broider { border-width: 28px 0px 28px 16px; } 
  .broider>*{ padding: 26px 12px } 
  #head_separator{ display: none; }
  .notebox:checked + aside{ flex-direction: column-reverse; align-items: flex-end}
}

.twitter-tweet{ margin: auto; }




#light,#expand,.notelbl { cursor:pointer; }
#light::before {content: '🌜 Dark mode'; display: block;} 
html:has(#lightmode:checked){ filter: invert(100%); }
html:has(#lightmode:checked) #light::before {content: '🌞 Light mode';}

#music{display: flex; align-items: center; margin:0 0 0 -7px;}
audio{ height:40px; margin-left: -6px; }
audio::-webkit-media-controls-panel{ background: rgba(var(--background), .5); }
#music >span {
  border-radius: 50%;
  width:40px;
  height:40px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}
.notebox+label{color:rgb(var(--near-black));}
aside { 
  border: solid rgb(var(--near-black));
  border-width: 10px 2px 0px 2px; 
  border-radius:7% 7% 0% 0%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background:rgb(var(--canvas));
  padding: 20px;  
  z-index:1; 
}
aside, .notebox {display: none;}
#expand::before {content: '➕ Expand notes';}
body:has(#expandmode:checked) #expand::before {content: '➖ Collapse notes';}
body:has(#expandmode:checked) .notelbl:after{content:' [X]'}
body:has(#expandmode:checked) aside{ display: block;}


#toast-container {
  display: flex;
  bottom: 15%;
  position: fixed;
  transform: scale(0);
  width: 100vw;
  z-index: 1;
  justify-content: center;
}
#toast-container >p{
  padding:10px;
  border-radius: 50px;
  width:fit-content;
  background: rgb(var(--near-black));
  color:rgb(var(--foreground));
}

@keyframes toast {
    0% { transform: scale(0); }
    20% {transform: scale(1); }
    80% {transform: scale(1); }
    100% {transform: scale(0); }
}