/*
blockquote, blockquote span, blockquote::before, pre, pre>code
*/

/* Basics */
:root {
  --canvas: 227, 227, 232;
  --background: 209, 209, 250;
  --foreground: 240, 240, 255;
  --near-black: 0, 72, 72; /* 180, 100%, 14% */
  /* --near-black: 0, 14, 42; darkblue - 220, 100%, 8% */
  --near-white: 226, 226, 238; /*light red -  0, 26%, 91% */
  --max-width: min(800px, 100vw);
}
/*
// RESPONSIVE SIZING
:root {   font-size: calc(1vw + 1vh + .5vmin); }
body {   font: 1rem/1.6 sans-serif; }
*/
* {
  font-family: Georgia, TimesNewRoman, Times, Times New Roman, serif;
  user-select: text;
  box-sizing: border-box;
  position: relative;
}
html
/*,::before*/ {
  font-size: 1.125em; /* 18px */
  line-height: 1.625em; /* 26px */
  /*scroll-behavior: smooth;*/
  /* transition: filter 500ms linear; */
}
body {
  margin: 0px;
  overflow-x: hidden;  
  background: linear-gradient(180deg, rgba(var(--canvas)), rgba(var(--canvas)));
} 
::selection {
  background: rgb(var(--background));
}
/*
raise lower letter spacing and line height for smaller text 
-- text size multiples of 8. line height +8px.
*/
h1,
h2 {
  text-shadow: none;
  transition: all 0.3s ease-in-out;
}
h2:hover {
  text-shadow: 1px 1px 45px rgb(var(--near-black));
  transition: all 0.4s ease-in-out;
}
h1,
h2,
h3,
h4 {
  align-items: center; 
  justify-content: space-between;
  color: rgb(var(--near-black));
  font-weight: 600;
  /* font-family: Courier New, Courier, Monaco, monospace, Helvetica, Arial,
    sans-serif; 
  */
}
h3,
h4 {
  font-size: 1.25em;
} 
a {color: rgb(var(--near-black));
/*
  text-decoration: none;
*/
} 

summary:hover .anchor::after {
  content: "🔗";
  height: 0.8em;
}
.anchor {
  position: absolute;
  left: 0px; 
  text-decoration:none;
}

/* hide checkbox, but still expose it to screen readers.*/
input {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
} 

li>input{
  position: inherit;
  width: auto;
  clip: auto;
  overflow: visible;
  white-space: normal;
  max-height: 23px;
}

/* Expanding hover effect */
a::before {
  content: "";
  background-color: rgb(var(--background));
  position: absolute;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
a:hover::before {
  height: 8px;
  bottom: 0;
  height: 100%;
}
span {
  font-family: inherit;
}
p {
  word-break: break-word;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
li p{
  margin-block: 0em; 
}
pre {
  max-width: calc(var(--max-width) - 70px);
  background: rgb(var(--background));
  padding: 12px;
  overflow: auto;
  line-height: 1.2em;
}

/* Blockquote */
blockquote {
  margin: 32px 24px;
  font-style: italic;
  background-color: rgb(var(--background));
  border-left: 8px solid rgb(var(--foreground));
  position: relative;
  padding: 12px 5px 1px 5px;
}
blockquote::before {
  content: "\201C";
  color: rgb(var(--foreground));
  padding-top: 6px;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -12px;
}

/* Summary */
ul {
  padding: 0px;
}
ul ul {
  padding-left: 10px;
}

ul > li {
  list-style-type: none;
  display: flex;
}
ul > li::before {
  content: "-";
  margin-right: 10px;
}
details:nth-child(odd),
.details details:nth-child(odd),
details details:nth-child(even) {
  background: rgba(var(--background), 0.4);
}
.details details:nth-child(even),
details details:nth-child(odd) {
  background: rgba(var(--canvas), 0.4);
}

details > summary {
  list-style: none;
  position: relative;
}

details > summary::before {
  content: "⇨";
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

details[open] > summary::before {
  transform: rotate(90deg);
}
details > summary > * {
  display: inline;
}

summary {
  text-align: center;
  cursor: pointer;
  font-size: 1.25em;
  padding: 12px 0px;
}
hr {
  margin: 1px 1px 10px 1px;
  border-top: 1px solid rgba(var(--near-black), 0.1);
}
